*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 62.5%}
body{
    min-height: 100dvh;
    display: grid;
    place-items: center;
    background: #fff;
}
.container{
    display: grid;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 2.5em;
    border-radius: 12px;
    font-size: 1.6rem;
    /* background-color: aliceblue; */  
}

.btn {
    display: inline-block;
    background: #007bff;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    border:none;
    font-size: 1.5rem;
    transition: background 0.3s ease;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #0056b3;
    color: rgba(255, 255, 255, 0.592);
  }

  .container h2 ,input ,.selection , p{
    margin-bottom: 20px;
  
  }
  input {
    outline: none;
    padding: .8rem;
    border-radius: 12px;
    border: 1px solid #ddd;
    &:hover{
      border: 1px solid#007bff;
    }
  }
  .transfer {
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .transfer:hover {
      color: #007bff;
  }
  
  .selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

  }
  .selection select {
    outline: none;
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    &:hover{
      color:#007bff
    }
  }

  